body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app{
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

input{
    padding: 10px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button{
    padding: 10px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.weather{
    margin-top: 20px;
}

#condition{
    margin-bottom: 10px;
}

.temp{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.humidity{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.wind{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


.error {
    color: red;
    margin-top: 10px;
}
